.counter {
    display: flex;
    flex-direction: row;
}
.counter .square {
    border: 1px solid black;
    padding: 1rem;
}

.counter .count {
    font-size: x-large;
    font-weight: bold;
    width: 50px;
    text-align: center;
}

.counter .icon {
    cursor: pointer;
    background-color: white;
}
