.img-preview {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    justify-content: flex-end;
    gap: 2rem;
}

.img-preview .big-img {
    padding-left: 4rem;
    padding-right: 4rem;
    width: 80%;
    height: 70%;
}

.img-preview .img-list {
    display: grid;
    grid-template-columns: repeat(3, 18%);
    gap: 20px;
    justify-content: center;
}

.img-preview .img-list .small-img:hover {
    cursor: pointer;
    border: 1px solid black;
}
